* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f1f3f4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  animation: slideUp 0.6s ease;
}

/* BRAND */
.brand {
  text-align: center;
  margin-bottom: 25px;
}

.logo {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
  animation: pop 0.6s ease;
}

.company-name {
  font-size: 18px;
  font-weight: 500;
  color: #ef0108;
}

.company-names {
  font-size: 18px;
  font-weight: 500;
  color: #111;
}

.success {
  display: none;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: green;
  animation: fadeIn 0.4s ease;
}

.verified {
  color: #1a73e8;
  font-size: 16px;
  margin-left: 5px;
}

.tagline {
  font-size: 13px;
  color: #5f6368;
  margin-top: 4px;
}

.taglines {
  font-size: 13px;
  color: #000000;
  margin-top: 6px;
}

/* FORM */
.field {
  position: relative;
  margin-bottom: 20px;
}

.field input,
.field textarea {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.field textarea {
  resize: none;
  height: 50px;
}

.field label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #5f6368;
  background: white;
  padding: 0 5px;
  transform: translateY(-50%);
  transition: 0.2s;
  pointer-events: none;
}

.field input:focus + label,
.field textarea:focus + label,
.field input:not(:placeholder-shown) + label,
.field textarea:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: #e01108;
}

button {
  width: 100%;
  padding: 12px;
  background: #e01108;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #e01108;
}

/* SUCCESS */
.success {
  display: none;
  margin-top: 15px;
  text-align: center;
  color: green;
  font-size: 14px;
  animation: fadeIn 0.5s ease;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pop {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}